@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Avenir;
  line-height: 1.6;
  font-size: 18px;
  background-color: #0A0552;
}

h1 {
  font-weight: bold;
  font-size: large;
}
