.solution-card {
  background-color: var(--green);
  border: 2px solid var(--green);
  padding: 15px;
  color: white;
  border-radius: 10px;
  transition: background-color .3s, border .3s, color .3s, transform .3s;
  height: 250px;
  filter: drop-shadow(0 0 10px var(--light-shadow));
}

.solution-card:hover,
.solution-card:focus,
.solution-card:active {
  background-color: white;
  backdrop-filter: blur(4px);
  color: var(--green);
  transform: scale(105%);
}

.solution-card h3 {
  color: white;
  text-shadow: 0 0px 4px var(--dark-blue);
  transition: color 0.3s, text-shadow 0.3s;
}

.solution-card:hover h3 {
  color: var(--green);
  text-shadow: 0 0px 4px white;
}

.extension-card {
  background-color: var(--light-blue);
  border: 2px solid var(--light-blue);
  padding: 15px;
  color: white;
  border-radius: 10px;
  height: 250px;
  transition: background-color .3s, border .3s, color .3s, transform .3s;
  filter: drop-shadow(0 0 10px var(--light-shadow));
}

.extension-card:hover,
.extension-card:focus,
.extension-card:active {
  background-color: white;
  backdrop-filter: blur(4px);
  color: var(--light-blue);
  transform: scale(105%);
}

.extension-card h3 {
  color: white;
  text-shadow: 0 0px 4px var(--dark-blue);
  transition: color 0.3s, text-shadow 0.3s;
}

.extension-card:hover h3 {
  color: var(--light-blue);
  text-shadow: 0 0px 4px white;
}

.collaborator-card {
  border: 2px solid var(--blue);
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
  height: 250px;
  transition: background-color .3s, border .3s, color .3s, transform .3s;
  filter: drop-shadow(0 0 10px var(--light-shadow));
}

.collaborator-card:hover,
.collaborator-card:focus,
.collaborator-card:active {
  background-color: white;
  backdrop-filter: blur(4px);
  color: var(--blue);
  transform: scale(105%);
}


.card-details>* {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .9rem;
}

.aux-text {
  font-style: italic;
  font-size: .75rem;
  line-height: 1.5;
}

.long-card {
  background-color: white;
  border: 2px solid var(--blue);
  padding: 20px 20px;
  color: var(--blue);
  border-radius: 5px;
  min-height: 150px;
  margin: 1rem 0 1rem 0;
}

.long-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
