.solution-card {
  background-color: rgba(4, 161, 127, 1);
  border: 2px solid #04A17F;
  padding: 15px;
  color: white;
  border-radius: 10px;
  transition: background-color .3s, border .3s, color .3s, transform .3s;
  height: 250px;
  filter: drop-shadow(0 0 10px rgba(10, 5, 82, 0.3));
}

.solution-card:hover,
.solution-card:focus,
.solution-card:active {
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(4px);
  color: #04A17F;
  transform: scale(105%);
}

.solution-card h3 {
  color: white;
  text-shadow: 0 0px 4px #0a0552;
  transition: color 0.3s, text-shadow 0.3s;
}

.solution-card:hover h3 {
  color: #04A17F;
  text-shadow: 0 0px 4px white;
}

.extension-card {
  background-color: rgba(0, 116, 142, 1);
  border: 2px solid #00748E;
  padding: 15px;
  color: white;
  border-radius: 10px;
  height: 250px;
  transition: background-color .3s, border .3s, color .3s, transform .3s;
  filter: drop-shadow(0 0 10px rgba(10, 5, 82, 0.3));
}

.extension-card:hover,
.extension-card:focus,
.extension-card:active {
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(4px);
  color: #00748E;
  transform: scale(105%);
}

.extension-card h3 {
  color: white;
  text-shadow: 0 0px 4px #0a0552;
  transition: color 0.3s, text-shadow 0.3s;
}

.extension-card:hover h3 {
  color: #00748E;
  text-shadow: 0 0px 4px white;
}

.collaborator-card {
  border: 2px solid #004386;
  background-color: #004386;
  color: white;
  border-radius: 10px;
  height: 250px;
  transition: background-color .3s, border .3s, color .3s, transform .3s;
  filter: drop-shadow(0 0 10px rgba(10, 5, 82, 0.3));
}

.collaborator-card:hover,
.collaborator-card:focus,
.collaborator-card:active {
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(4px);
  color: #004386;
  transform: scale(105%);
}


.card-details>* {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .9rem;
}

.aux-text {
  font-style: italic;
  font-size: .75rem;
  line-height: 1.5;
}

.long-card {
  background-color: white;
  border: 2px solid #004386;
  padding: 20px 20px;
  color: #004386;
  border-radius: 5px;
  min-height: 150px;
  margin: 1rem 0 1rem 0;
}

.long-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
