.members {
  background-color: #04A17F;
}

.members > * {
  position: sticky;
}

.pill {
  background-color: rgba(4, 161, 127, 0.3);
  margin-left: 2rem;
  padding: 0.1rem 1rem;
  border-radius: 15px;
  color: rgba(4, 161, 127, 0.6);
  font-size:medium;
}
