.members {
  background-color: var(--blue);
}

.members h2 {
  color: white;
  text-shadow: 0 0px 4px var(--dark-blue);

}

.members > * {
  position: sticky;
}

.pill {
  background-color: rgba(10, 5, 82, 0.3);
  margin-left: 2rem;
  padding: 0.1rem 1rem;
  border-radius: 15px;
  color: rgba(10, 5, 82, 0.6);
  font-size:medium;
}
