.navbar {
  padding: 1rem;
  background-color: var(--dark-blue);
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.5));
}

.nav-links {
  transition: opacity 0.3s;
  color: white;
}

.nav-links:hover {
  opacity: 60%;

}

.pact-logo {
  margin: -100px 0;

  width: 200px;
  height: 80px;
  overflow: hidden;
}
