.search select {
  appearance: none;
}

.select-wrapper-green {
  position: relative;
}

.select-wrapper-green::after {
  content: "^";
  transform: rotate(180deg);
  font-weight: bold;
  color: #04A17F;
  font-size: 0.8rem;
  top: 1.3rem;
  right: 1rem;
  position: absolute;
}

.select-wrapper-light-blue {
  position: relative;
}

.select-wrapper-light-blue::after {
  content: "^";
  transform: rotate(180deg);
  font-weight: bold;
  color: #00748E;
  font-size: 0.8rem;
  top: 1.3rem;
  right: 1rem;
  position: absolute;
}
